boto==2.38.0
bz2file==0.98
cov-core==1.15.0
coverage==3.7.1
gensim==0.11.1.post1
ipython==3.2.0
jellyfish==0.5.0
mock==1.0.1
nltk==3.0.3
numpy==1.9.2
Pattern==2.6
py==1.4.30
pytest==2.7.2
pytest-cov==1.8.1
scipy==0.15.1
six==1.9.0
smart-open==1.2.1
topia.termextract==1.1.0
wheel==0.24.0
zope.interface==4.1.2
